<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="BaseAddress" value="http://localhost:20001/MascoDisplayILSValidatorMiddleware"/>
    <add key="EntryPoint" value="Masco.Display.ILSValidator.Client.Forms"/>
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFileTransfer" maxReceivedMessageSize="2147483647" messageEncoding="Mtom"/>
        <binding name="BasicHttpBinding_ICheckList"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:20001/MascoDisplayILSValidatorMiddleware/IFileTransfer" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransfer" contract="ServiceReferenceFileTransfer.IFileTransfer" name="BasicHttpBinding_IFileTransfer"/>
      <endpoint address="http://localhost:20001/MascoDisplayILSValidatorMiddleware/ICheckList" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICheckList" contract="ServiceReferenceCheckList.ICheckList" name="BasicHttpBinding_ICheckList"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
