<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFileTransfer" maxReceivedMessageSize="2147483647"
                    messageEncoding="Mtom" />
                <binding name="BasicHttpBinding_ICheckList" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/MascoDisplayILSValidatorMiddleware/IFileTransfer"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransfer"
                contract="ServiceReferenceFileTransfer.IFileTransfer" name="BasicHttpBinding_IFileTransfer" />
            <endpoint address="http://localhost:20001/MascoDisplayILSValidatorMiddleware/ICheckList"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICheckList"
                contract="ServiceReferenceCheckList.ICheckList" name="BasicHttpBinding_ICheckList" />
        </client>
    </system.serviceModel>
</configuration>